header {
    width: 100%;
    height: 70px;
    top: 0%;
    position: relative;
    flex: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 20px;
}
