body {
    margin:0px;
	padding:0px;
    font-size:14px;
    font-family:Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#484848;
	display:block;
	position:relative;
	min-height:100vh;
}
.container {
	max-width:1000px;
	margin:30px auto 0 auto;
	padding-bottom:90px;
}
button {
	font-size:18px;
	color:#FFFFFF;
	background-color:#FF5A5F;
	height:48px;
	width:20%;
	border-style:none;
	border-radius:4px;
	position:absolute;
	right:30px;
	top:11px;
}
button:hover{
	opacity:0.9;
}
