.filters {
    background-color:white;
    height:70px;
    width:100%;
    border:1px solid #DDDDDD;
    border-radius:4px;
    position:relative;
    display: inline-flex;
}
.locations {
    border-right:1px solid #DDDDDD;
    height:100%;
    width:25%;
}
.amenities {
    height:100%;
    width:25%;
}

h3{
    font-weight:600;
    padding-left:25px;
    margin-bottom:0;
}

h4{
    font-weight:400;
    font-size:14px;
    padding-left:25px;
    margin-top:0;
}
